{% extends 'base.html' %}

{% block content %}
<h2>All Data fra Databasen</h2>

<!-- Foresatte Tabell -->
<h3>Foresatte</h3>
<table border="1">
    <thead>
        <tr>
            <th>Foresatt ID</th>
            <th>Navn</th>
            <th>Adresse</th>
            <th>Telefonnummer</th>
            <th>Personnummer</th>
        </tr>
    </thead>
    <tbody>
        {% for foresatt in foresatt_data %}
        <tr>
            <td>{{ foresatt.foresatt_id }}</td>
            <td>{{ foresatt.foresatt_navn }}</td>
            <td>{{ foresatt.foresatt_adresse }}</td>
            <td>{{ foresatt.foresatt_tlfnr }}</td>
            <td>{{ foresatt.foresatt_pnr }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Barn Tabell -->
<h3>Barn</h3>
<table border="1">
    <thead>
        <tr>
            <th>Barn ID</th>
            <th>Personnummer</th>
        </tr>
    </thead>
    <tbody>
        {% for barn in barn_data %}
        <tr>
            <td>{{ barn.barn_id }}</td>
            <td>{{ barn.barn_pnr }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Barnehager Tabell -->
<h3>Barnehager</h3>
<table border="1">
    <thead>
        <tr>
            <th>Barnehage ID</th>
            <th>Navn</th>
            <th>Antall Plasser</th>
            <th>Ledige Plasser</th>
        </tr>
    </thead>
    <tbody>
        {% for barnehage in barnehage_data %}
        <tr>
            <td>{{ barnehage.barnehage_id }}</td>
            <td>{{ barnehage.barnehage_navn }}</td>
            <td>{{ barnehage.barnehage_antall_plasser }}</td>
            <td>{{ barnehage.barnehage_ledige_plasser }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Søknader Tabell -->
<h3>Søknader</h3>
<table border="1">
    <thead>
        <tr>
            <th>Søknads-ID</th>
            <th>Navn på Foresatt 1</th>
            <th>Navn på Foresatt 2</th>
            <th>Personnummer på Barn</th>
            <th>Fortrinnsrett</th>
            <th>Status</th>
            <th>Tilbudt Barnehage</th>
        </tr>
    </thead>
    <tbody>
        {% for soknad in soknad_data %}
        <tr>
            <td>{{ soknad.sok_id }}</td>
            <td>{{ soknad.foresatt_1 }}</td>
            <td>{{ soknad.foresatt_2 }}</td>
            <td>{{ soknad.barn_1 }}</td>
            <td>
                {% if soknad.fr_barnevern == 'on' %} Barnevern {% endif %}
                {% if soknad.fr_sykd_familie == 'on' %} Sykdom i Familie {% endif %}
                {% if soknad.fr_sykd_barn == 'on' %} Sykdom på Barn {% endif %}
                {% if soknad.fr_annet == 'on' %} Annet {% endif %}
            </td>
            <td>{{ soknad.status }}</td>
            <td>{{ soknad.tilbudt_barnehage }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}
